* {
    margin: 0px;
    padding: 0px;
    font-size: 1.2em
}

.conteiner {
    max-width: 500px;
    height: 300px;
    padding: 15px;
    background-color: grey;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.produto {
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 2px solid black; 
}

.box {
    background-color: #ffffff;
    height: 80px;
    border: 2px solid black;
    flex-basis: 30px;
}

#item1 {
    flex-grow: 2;
}

#item2 {
    flex-basis: 300px;
}

#item1 {
    order: 1;
}